<header id="header">
    <a href="{{ homePage }}" class="logo">
        <img src="{{asset('img/educ_logo.svg', 'educ')}}" id="logo" alt="Educ Alliance Logo">
    </a>
    <div class="header-title">
        <h1>{{ mainTitle }}</h1>
        <h2>{{ pagetitle }}</h2>
    </div>
</header>
{% if not hideLanguageBar %}
    <div id="languagebar">
      {% for key, lang in languageBar %}
          <span>
              {% if key == currentLanguage %}
                  {{ lang.name }}
              {% else %}
                  {% if lang.url %}
                      <a href="{{ lang.url }}
                        {%- if queryParams %}&{% endif %}
                            {%- for name, value in queryParams %}
                                {%- if not loop.first %}&{% endif %}
                                {%- if value %}{{ name }}={{ value }}{% else %}{{ name }}{% endif %}
                            {%- endfor %}"
                      >{{ lang.name }}</a>
                  {% endif %}
              {% endif %}
              {% if loop.last == false %} | {% endif %}
          </span>
      {% endfor %}
    </div>
{% endif %}
